<template>
  <div class="container">
    <SearchBar v-on:termChange="onTermChange"/>
    
    <div class="row">
      <div class="col-md-8">
        <VideoDetail 
          :video="selectedVideo"
        />
      </div>
      <div class="col-md-4">
        <VideoList 
          :videos="videos"
          @videoSelect="onVideoSelect"  
        />
      </div>
    </div>

  </div>
</template>

<script>
  import axios from "axios";
  import SearchBar from "./components/SearchBar"; 
  import VideoList from "./components/VideoList"; 
  import VideoDetail from "./components/VideoDetail"

  const API_KEY = "AIzaSyBVzLidkrpzSNzL6HzEon2Pb1j9kJlmVgE";

  export default {
    name: "App",
    components:{
      SearchBar,
      VideoList,
      VideoDetail
    }, 
    data(){
      return {
        videos: [],
        selectedVideo : null,
      }
    },
    methods:{
      onTermChange(searchTerm){
        axios.get("https://www.googleapis.com/youtube/v3/search",{
          params: {
            part: "snippet",
            key: API_KEY,
            q: searchTerm,
          }
        }).then(result => {
          this.videos = result.data.items;
        });
      },
      onVideoSelect(video){
        this.selectedVideo = video;
      }

    }   
  }
</script>
